


.fig6{
    position: absolute;
    top: 450px;
    left: 100px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig66{
    position: absolute;
    top: 1180px;
    left: 1190px;
    width: 300px;
    height: auto;
    z-index: 10;
}
.fig666{
    position: absolute;
    top: 50px;
    left: 990px;
    width: 300px;
    height: auto;
    z-index: 10;
}


.cont{
    background-color: #a635cf;
    background: linear-gradient(to bottom, #a635cf  0%, #210323 100%);
    border-radius: 143px;
    box-shadow: #d231ff 1px 5px 15px;

}
    .carrossel {
    background-color: #a635cf;
    background: linear-gradient(to bottom, #a635cf 0%, #210323 100%);
}




.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #30073e;

}
@media (max-width: 800px) {
  .fig6,
  .fig66,
  .fig666 {
    display: none;
  }
}

