

.fig22{
    position: absolute;
    top: 100px;
    left: 1px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig222{
    position: absolute;
    top: 600px;
    left: 1100px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig2222{
    position: absolute;
    top: 1200px;
    left: 00px;
    width: 300px;
    height: auto;
    z-index: 10;
}

.cont{
    background-color: #216f28;
    background: linear-gradient(to bottom, #216f28 0%, #03220f 100%);
    border-radius: 143px;
    box-shadow: #22dc38 1px 5px 15px;

}
    .carrossel {
    background-color: #216f28;
    background: linear-gradient(to bottom, #216f28 0%, #03220f 100%);
}

.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #021309;

}
@media (max-width: 800px) {
  .fig22,
  .fig222,
  .fig2222 {
    display: none;
  }
}


