

.cont{
    background-color: #216f28;
    background: linear-gradient(to bottom, #216f28 0%, #03220f 100%);
    border-radius: 143px;
    box-shadow: #22dc38 1px 5px 15px;

}
    .carrossel {
    background-color: #216f28;
    background: linear-gradient(to bottom, #216f28 0%, #03220f 100%);
}

.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #021309;
}