

.fig33{
    position: absolute;
    top: 100px;
    left: 1000px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig333{
    position: absolute;
    top: 600px;
    left: 10px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig3333{
    position: absolute;
    top: 1180px;
    left: 1200px;
    width: 300px;
    height: auto;
    z-index: 10;
}

.cont{
    background-color: #b82b2b;
    background: linear-gradient(to bottom, #b82b2b 0%, #3a0404 100%);
    border-radius: 143px;
    box-shadow: #f10e0e 1px 5px 15px;

}
    .carrossel {
    background-color: #b82b2b;
    background: linear-gradient(to bottom, #b82b2b 0%, #3a0404 100%);
}




.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #350808;

}
@media (max-width: 800px) {
  .fig33,
  .fig333,
  .fig3333 {
    display: none;
  }
}
