
.fig1{
    position: absolute;
    top: 570px;
    left: 50px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig11{
    position: absolute;
    top: 100px;
    left: 1160px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig111{
    position: absolute;
    top: 1150px;
    left: 50px;
    width: 300px;
    height: auto;
    z-index: 10;
}




.cont{
    background-color: #aa447a;
    background: linear-gradient(to bottom, #aa447a 0%, #3f0825 100%);
    border-radius: 143px;
    box-shadow: #ff00f7 1px 5px 15px;

}
    .carrossel {
    background-color: #216f28;
    background: linear-gradient(to bottom, #aa447a 0%, #3f0825 100%);
}



.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #470325;

}
