

.fig4{
    position: absolute;
    top: 100px;
    left: 920px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig44{
    position: absolute;
    top: 700px;
    left: 1200px;
    width: 300px;
    height: auto;
    z-index: 10;
}
.fig444{
    position: absolute;
    top: 515px;
    left: 230px;
    width: 300px;
    height: auto;
    z-index: 10;
}


.cont{
    background-color: #5095ca;
    background: linear-gradient(to bottom, #5095ca 0%, #072942 100%);
    border-radius: 143px;
    box-shadow: #0080ff 1px 5px 15px;

}
    .carrossel {
    background-color: #216f28;
    background: linear-gradient(to bottom, #5095ca 0%, #072942 100%);
}


.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #032e39;

}
@media (max-width: 768px) {
  .fig4,
  .fig44,
  .fig444 {
    display: none;
  }
}
