

.fig5{
    position: absolute;
    top: 570px;
    left: 600px;
    width: 400px;
    height: auto;
    z-index: 10;
}
.fig55{
    position: absolute;
    top: 1200px;
    left: 1px;
    width: 300px;
    height: auto;
    z-index: 10;
}
.fig555{
    position: absolute;
    top: 180px;
    left: 1190px;
    width: 300px;
    height: auto;
    z-index: 10;
}






.cont{
    background-color: #dd30c3;
    background: linear-gradient(to bottom, #dd30c3 0%, #420839 100%);
    border-radius: 143px;
    box-shadow: #ff01b3 1px 5px 15px;

}
    .carrossel {
    background-color: #216f28;
    background: linear-gradient(to bottom, #dd30c3 0%, #420839 100%);
}



.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #52012a;

}

@media (max-width: 768px) {
  .fig5,
  .fig55,
  .fig555 {
    display: none;
  }
}

